/*geral */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.limitar{
    max-width: 1024px;
}

/* topo */
header{
    background-color: #a4a49e;
}

.links{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center ;
    
}

.links a{
    font-size: 18px;
    margin: 0 15px;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    padding: 20px
}

.links a:hover{
    background-color: silver;
    border-radius: 45px;
    padding: 20px;
}
/* banner */

.banner{
    background-color: #837473 ;
    text-align: center;
    width: 100%;
    padding: 20px;
}
.banner img{
    width: 150px;
    height: 100px;
}
.banner h1{
    font-size: 45px;
}
.banner p{
    font-size: 15px;
}

/* Sobre */

.sobre{
    text-align: center;
    margin: 25px auto;
    width: 100%;
}
.sobre h2{
    font-size: 35px;
}
.sobre p{
    font-size: 15px;
    text-align: justify;
    margin: 15px;
}

/* produtos */

.produtos {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    background-color: #f6f6f6;

}


.container{
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 45px;
}

.card{
    width: calc(50% - 50px);
    margin-bottom: 45px;
    height: calc(50% - 60px);
    border: 2px solid silver;
    background-color: #fff;
    height: 300px;
}

.card img{
    width: 50%;
    max-height: 150px;
    margin: 30px 0px;
    object-fit: contain;
}

.card h2{
    text-align: center;
    font-size: 35px;
}

.card p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

/* Contatos */
.contatos{
    width: 100%;
    background-color: #837473;
    text-align: center;
    padding: 50px 20px;
}

.container-contato{
    width: 100%;
    color: #fff;
    margin: 45px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.box figure{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.box img{
    width: 20px;
}
.box figcaption{
    font-size: 14px;
    margin-left: 10px;
}

footer{
    text-align: center;
    background-color: #a4a49e;
}